In [5]:
import pandas as pd
import glob

In [12]:
df = pd.concat(map(pd.read_csv, glob.glob('data/season-*.csv')))

In [13]:
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,14/08/10,Aston Villa,West Ham,3,0,H,2,0,H,...,2.11,2.01,1.82,1.75,20,0.00,1.45,1.40,3.00,2.78
1,E0,14/08/10,Blackburn,Everton,1,0,H,1,0,H,...,2.20,2.08,1.79,1.70,29,0.00,2.20,2.05,1.85,1.75
2,E0,14/08/10,Bolton,Fulham,0,0,D,0,0,D,...,2.22,2.09,1.75,1.69,24,0.00,1.60,1.55,2.56,2.36
3,E0,14/08/10,Chelsea,West Brom,6,0,H,2,0,H,...,1.53,1.49,2.61,2.49,19,-2.00,2.06,2.01,1.91,1.85
4,E0,14/08/10,Sunderland,Birmingham,2,2,D,1,0,H,...,2.28,2.16,1.71,1.65,24,0.00,1.64,1.55,2.50,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,2010-05-09,Everton,Portsmouth,1,0,H,0,0,D,...,1.62,1.56,2.40,2.30,15,0.00,1.10,1.06,10.00,7.72
376,E0,2010-05-09,Hull,Liverpool,0,0,D,0,0,D,...,1.79,1.71,2.23,2.05,15,0.00,5.00,4.38,1.20,1.18
377,E0,2010-05-09,Man United,Stoke,4,0,H,2,0,H,...,1.57,1.50,2.63,2.46,14,-2.25,2.08,2.02,1.91,1.85
378,E0,2010-05-09,West Ham,Man City,1,1,D,1,1,D,...,1.67,1.60,2.30,2.20,13,0.00,3.25,2.99,1.44,1.35
379,E0,2010-05-09,Wolves,Sunderland,2,1,H,1,1,D,...,2.00,1.92,1.94,1.84,21,0.00,1.73,1.64,2.33,2.16